{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
    </div>

    <div id="view-email" class="container">
        <div class="row" id="archived_div_parent">
            <div id="archived_div"></div>
        </div>
        <div class="row">
            <div><b>From:&nbsp;</b></div> <div id="from_value"></div>
        </div>
        <div class="row">
            <div><b>To:&nbsp;</b></div> <div id="to_value"></div>
        </div>
        <div class="row">
            <div><b>Subject:&nbsp;</b></div> <div id="subject_value"></div>
        </div>
        <div class="row">
            <div><b>Timestamp:&nbsp;</b></div> <div id="timestamp_value"></div>
        </div>
        <div class="row" id="reply_div_parent">
            <div id="reply_div"></div>
        </div>

        <hr>

        <div class="row">
            <div id="body_value"></div>
        </div>
    </div>



    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input placeholder="Recipient/s" id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input id="compose-submit" type="submit" value="Submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}