{% extends "casa/layout.html" %}
{% load static %}
{% load humanize %}

{% block body %}

    <div id="container_wrapper">
        <div id="currency_container">
            <select class="currency_select select_option" name="currency" id="currency">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="MXN">MXN</option>
            </select>
        </div>
        <div id="metric_container">
            <select class="metric_select select_option" id="metric_select">
                <option value="feet">ft²</option>
                <option value="meter">m²</option>
            </select>
        </div>
    </div>
    
        
<div id="detailed_filter"><button class="filter_order_buttons" id="btn_filter">Filter & Order</button></div>
<div id="filter_div" style="display: none;">
    <form method="GET" action="{% url 'index' %}">
        {% csrf_token %}
        <div>Order:</div>
        {{ form.order }}
        <hr>
        <div>Type of Property:</div>
        {{ form.type_of_property }}
        <div>Street:</div>
        {{ form.street_name }}
        <div>City:</div>
        {{ form.city }}
        <div>State:</div>
        {{ form.state }}
        <div>Price in USD:</div>
        {{ form.price }}
        <div>Size in m²:</div>
        {{ form.size }}
        <div>Bedroom:</div>
        {{ form.bedroom }}
        <div>Bathroom:</div>
        {{ form.bathroom }}

        <div>
        <input type="button" class="filter_cancel filter_buttons" value="Cancel">
        <input type="submit" autocomplete="off" class="filter_save filter_buttons" value="Go">
        </div>
    </form>
</div>

        {% if not properties %}
        <div id="searched_message" class="no_search">
            No properties listed yet.
        </div>
        {% endif %}

        <div id="searched_message_filter" class="no_search">
        </div>

    <div id="listings" class="listings_div">
        <div id="flex-container-index-id" class="flex-container-index">
            {% for property in properties %}
                <!--add style="display: block;" -->
                <div id="flex-item-index" style="display: block;">
                    <a class="a_property_class" href="{% url 'property' property.id %}" style="color: black; text-decoration: none;" >
                    <div id="first" style="margin-top: -8px">
                        <p style="display: none;" id="property_id">{{ property.id }}</p>
                        <p style="display: none;" id="longitude">{{ property.longitude }}</p>
                        <p style="display: none;" id="latitude">{{ property.latitude }}</p>
                        
                        <div id="div_in_image">
                            {% with property.property_images.all|first as photo %}
                            <img class="background_of_image" id="image_source" src="{{ photo.images.url }}" alt="">
                            {% endwith %}
                        </div>
                    </div>

                    <div id="second" style="margin-left: 5px;">

                        <div style="display: none;" id="default_price">{{ property.price }}</div>
                        <div style="display: none;" id="default_size">{{ property.size }}</div>

                        <h5><b id="currency_symbol">USD</b>&nbsp<b id="price">{{ property.price|intcomma }}</b></h5>
                            <b id="bedroom">{{ property.bedroom }}</b> bed &nbsp|&nbsp 
                            <b id="bathroom">{{ property.bathroom }}</b> bath &nbsp|&nbsp
                            <b id="size">{{ property.size }}</b>&nbsp<i id="metric"> ft² </i>
                            <br>
                            <b id="property_type">{{ property.type_of_property.type_of_property }}</b>
                            <b id="sales_or_rent">for {{ property.sales_rent.sales_or_rent }}</b>
                        <div id="address">
                            <div id="street_number">{{ property.street_name }} {{ property.street_number }}</div>
                            <div><i id="city">{{ property.city }},&nbsp</i> <i id="state" >{{ property.state }}&nbsp</i> <i id="postal_code" >{{ property.postal_code }}</i></div>
                        </div>
                        <div id="date" style="display: none;">{{ property.time_of_creation }}</div>
                    </div>
                </a>
                </div>
                {% endfor %}
        </div>

        <div id="map" class="map_index" style="display: block;"></div>
        <!--   <button id="search_button">Search in that area</button>  --> 

    </div>
<hr>

    <div>
        {% if page_obj.has_next or page_obj.has_previous %}
            {% include 'casa/pagination.html' %}
        {% endif %}
    </div>



{% endblock %}



{% block script %}
    <script src="{% static 'casa/index.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
    crossorigin="">
    </script>
{% endblock %}