{% extends "casa/layout.html" %}
{% load static %}


{% block body %}

    <h2 class="welcome_headers">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <!-- Username input -->
        <div class="form-outline mb-4">
          <input autofocus type="text" name="username" class="form-control" placeholder="Username"/>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" name="password" class="form-control" placeholder="Password" />
        </div>
      
        <!-- Submit input long log in class="btn btn-primary btn-block mb-4"-->
        <input type="submit" class="btn btn-primary btn-block mb-4" value="Log In" style="background-color: blueviolet;" />
      
        <!-- Register buttons -->
        <div>
          <p style="text-align: center;">Forgotten your password? <a href="{% url 'password_reset' %}">Reset Password</a></p>
        </div>
        <div>
          <p style="text-align: center;">Not a member? <a href="{% url 'register' %}">Register</a></p>
        </div>
      </form>

{% endblock %}