{% extends "casa/layout.html" %}
{% load static %}


{% block body %}

	<!--Password reset sent-->
	<div class="container p-5">
        <h1 class="welcome_headers">Password reset sent</h1>
          <p> We have just sent you an email with instructions for creating your new password. You should receive the email ASAP.
            <br>
            <br>
            If you don't receive the email, please double check if you have entered the address you registered with, or check your spam folder.
            <br>
            <br>
            <a href="{% url 'index' %}">Go to Main page</a>
            <br>
            <a href="{% url 'login' %}">Go to Login page</a>
            <br>
            <br>
            Have a great day
            <br>
            Casa Team
          </p>
    </div>

    <hr>


{% endblock %}