{% extends "casa/layout.html" %}
{% load static %}


{% block body %}

    <!--Reset Password-->
        <h1 class="welcome_headers">Reset Password</h1>
    <p>Forgotten your password?</p>
    <p>Enter your email address, and we will send you an email with instructions for creating your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form }}
            <br>                    
            <button class="btn btn-primary" type="submit">Send email</button>
        </form>

    <hr>

{% endblock %}