{% extends "casa/layout.html" %}
{% load static %}
{% load humanize %}

{% block body %}

<div id="container">
    <div id="container_wrapper" class="first">
        <div id="currency_container">
            <select class="currency_select select_option" name="currency" id="currency">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="MXN">MXN</option>
            </select>
        </div>
        <div id="metric_container">
            <select class="metric_select select_option" id="metric_select">
                <option value="feet">ft²</option>
                <option value="meter">m²</option>
            </select>
        </div>
    </div>
    <div class="second">
        <div id="order_container">
            <select class="order_select select_option" id="order_id">
                <option value="new_first">Newest Arrivals</option>
                <option value="old_first">Oldest Arrivals</option>
                <option value="cheap_first">Price: Low to High</option>
                <option value="expensive_first">Price: High to Low</option>
                <option value="small_first">Size: Small to Big</option>
                <option value="big_first">Size: Big to Small</option>
            </select>
        </div>
    </div>
</div>

    <h1 class="welcome_headers">Your Portfolio </h1>

    <div id="button_container">
        <button class="btn active salesrent" value='All'> Show all</button>
        <button class="btn salesrent" value='Rent'> Rent</button>
        <button class="btn salesrent" value='Sales'> Sales</button>
    </div>

    <div class="no_search">
        {% if not properties %}
            You have no properties listed yet.
        {% endif %}
    </div>

    <div class="flex-container">
        {% for property, current_values in context %}
        <!--add style="display: block;" -->
        <div id="flex-item-index" style="display: block;">
            <div id="property_id" style="display: none;">{{ property.id }}</div>
            <div id="property_id" style="display: none;">{{ property.id }}</div>
            <a class="a_property_class" href="{% url 'property' property.id %}" style="color: black; text-decoration: none;">
            <div id="first" style="margin-top: -8px">

                <div id="div_in_image">
                    {% with property.property_images.all|first as photo %}
                    <img class="background_of_image" id="image_source" src="{{ photo.images.url }}" alt="">
                    {% endwith %}
                </div>
            </div>

            <div id="second" style="margin-left: 5px;">

                <div style="display: none;" id="default_price">{{ property.price }}</div>
                <div style="display: none;" id="default_size">{{ property.size }}</div>

                <h4><b id="currency_symbol">USD</b>&nbsp<b id="price">{{ property.price|intcomma }}</b></h4>
                <div class="{{ property.sales_rent.sales_or_rent }}" id="features">
                    <b id="bedroom">{{ property.bedroom }}</b> bed &nbsp|&nbsp
                    <b id="bathroom">{{ property.bathroom }}</b> bath &nbsp|&nbsp
                    <b id="size">{{ property.size }}</b>&nbsp<i id="metric"> ft² </i>
                    <br>
                    <b id="property_type">{{ property.type_of_property.type_of_property }}</b>                                             
                    <b id="sales_or_rent">for {{ property.sales_rent.sales_or_rent }}</b>
                </div>
                <div id="address">
                    <div id="street_number">{{ property.street_name }} {{ property.street_number }}</div>
                    <div><i id="city">{{ property.city }},&nbsp</i> <i id="state" >{{ property.state }}&nbsp</i> <i id="postal_code" >{{ property.postal_code }}</i></div>
                </div>

                <div id="date" style="display: none;">{{ property.time_of_creation }}</div>
            </div>
        </a>
                <button id="btn-pause" class="btn_design" style="float: left;">{{ current_values }}</button>
                <button id="btn-delete" class="btn_design" style="float: right;">Delete</button>
                </div>
                {% endfor %}
        </div>

        <br>

{% endblock %}

{% block script %}
    <script src="{% static 'casa/portfolio.js' %}"></script>
{% endblock %}